* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #414141;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-1 {
  height: 20rem;
  width: 35rem;
  border: solid 1px orange;
}

.box-1 img {
  height: 100%;
  width: 100%;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
  height: 3rem;
}

.heading span:hover {
  color: orangered;
}

.heading span {
  font-size: large;
  font-weight: 600;
}

.content-02 {
  display: none;
}

.content-03 {
  display: none;
}
